body {
	background-color: #0b61a4;
	padding-top: 20px;
}

.well, .hero-unit {
	background-color: white;
}

ul.nav-list {
	margin-bottom: 20px;
}

blockquote { margin-bottom: 0px; }

.hero-unit img { margin-right: 25px; }
.logo { margin-right: 10px; }
 
.alert { word-break: break-all; }

.text-justify { 
	text-align: justify; 
	word-wrap: wrap-all;
	-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.message {
	margin-bottom: 5px;
}

.mono { font-family: Consolas, Lucida Console, monospace; }

#managePermits {
	width: 750px;
	margin-left: -375px;
}

/* Message Input Fix */
.input-prepend.input-append.input-block-level {
  display: table;
  width: 100%;
}

.input-prepend.input-append.input-block-level .add-on {
  display: table-cell;
  width: 5%;
}

.input-prepend.input-append.input-block-level .btn {
  display: table-cell;
  width: 10%;
}

.input-prepend.input-append.input-block-level > input {
  box-sizing: border-box;
  height: 30px;
  display: table-cell;
  width: 100%\9;
  width: 90%;
  border-left-style: none;
}