{% extends '::base.html.twig' %}

{% block body %}
<div class="container-fluid">
	<div class="hero-unit">
		<img src="#" class="pull-left" alt="FOPAC's Logo" width="150px" height="150px" />
		<h1>FOPAC </h1>
		<p><strong>FOPAC</strong> <small>['fopak]</small> is a Free Online Private Anonymous Chat system.</p>
	</div>
	<div class="row-fluid">
		<div class="span6 well text-justify">
			<h2>About FOPAC</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis velit sagittis, lacinia ligula et, sollicitudin felis. Nunc molestie velit a enim interdum hendrerit. Nullam ultricies, nulla at pellentesque viverra, lacus orci placerat nunc, ac iaculis nulla purus ac libero. Sed at erat non tortor cursus pretium nec non neque. Aliquam volutpat convallis nisl, eget faucibus ligula suscipit congue. Etiam gravida ipsum sed metus sollicitudin dapibus. Vestibulum suscipit interdum metus in fringilla. Fusce ac enim nec est eleifend ultrices feugiat ac risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin ante neque, fermentum ac consequat a, sagittis commodo velit.</p>
			<p>Curabitur hendrerit ante eget eros congue, eget sagittis tortor facilisis. Sed viverra odio et tellus tincidunt pulvinar. Sed sem sapien, scelerisque ut ultricies luctus, ultrices at sem. Vestibulum diam turpis, vestibulum suscipit libero vestibulum, commodo imperdiet nibh. Quisque aliquam, ipsum molestie tristique adipiscing, magna nulla tempus turpis, a ornare ipsum enim eget lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis scelerisque venenatis ultrices. Nam libero tortor, scelerisque quis quam ut, scelerisque dapibus quam. Morbi tempus interdum lacus, a suscipit augue congue eu. Etiam sit amet dictum leo. Donec condimentum sed risus ac feugiat. Cras condimentum luctus posuere.</p>
			<p>Sed rhoncus dui sodales ipsum ultrices volutpat. Cras rhoncus volutpat elit, at pellentesque arcu varius eu. Quisque ipsum mi, tempus eu imperdiet eget, gravida sit amet orci. Fusce fermentum accumsan elit vitae convallis. Praesent sit amet bibendum enim. Integer ipsum lectus, lacinia ac feugiat sed, rhoncus et libero. Etiam tincidunt et nibh ac aliquam. Cras felis massa, suscipit mollis placerat sed, sagittis vitae ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta magna nulla, scelerisque rhoncus dui suscipit adipiscing. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		</div>
		<div class="span6 well">
			<h2>Create a new FOPAC room</h2>
			<p>All fields are optional.</p>
			<form>
				<label>Title</label>
				<input class="input-block-level" type="text" name="title" />
				<label>Description</label>
				<textarea class="input-block-level" rows="3" name="desc"></textarea>
				<label>Passphrase</label>
				<input class="input-block-level" type="password" name="pass" />
				<button type="button" class="btn btn-large btn-block">Create</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}